<%- include("./partials/header.ejs"); -%>

<link rel="stylesheet" href="css/myRoutine.css">

<div class="main-container">
  <h2 id="centralize-text">Exercícios</h2>
  <button class="addNewExercise-btn" onclick="openAddExerciseModal()">Adicionar Novo Exercício</button>

  <!-- Listagem de exercícios -->
  <div class="exercises-list">
    <% exercises.forEach(exercise => { %>
      <div class="exercise-item">
        <h3 class="text_to_upper"><%= exercise.exercise_name %>
        <button class="edit-icon" onclick="openEditExerciseModal('<%= exercise.id %>', '<%= escape(exercise.exercise_name) %>', '<%= escape(exercise.muscle_group) %>', '<%= escape(exercise.description) %>', '<%= escape(exercise.image_url) %>', '<%= escape(exercise.video_url) %>')"><i class="fas fa-pencil-alt fa-lg"></i></button>
        <button class="delete-icon" onclick="openDeleteExerciseModal('<%= exercise.id %>', '<%= escape(exercise.exercise_name) %>')"><i class="fa-regular fa-trash-can fa-lg"></i></button></h3>
        <p class="text_to_upper">Grupo Muscular: <%= exercise.muscle_group %></p>
        <p class="text_justify" id="description_<%= exercise.id %>"><%= exercise.description %></p>

        <% if (exercise.image_url) { %>
        <img src="<%= exercise.image_url %>" alt="<%= exercise.exercise_name %>" style="width: 100%; max-width: 300px; height: auto;"/>
        <% } %>
        
        <% if (exercise.video_url) { %>
          <% let videoUrl = exercise.video_url; %>
          <% if (videoUrl.includes('youtube.com/watch')) { %>
            <% videoUrl = videoUrl.replace('watch?v=', 'embed/'); %>
          <% } %>
          <iframe src="<%= videoUrl %>" style="width: 100%; max-width: 300px; height: auto;" frameborder="0" allowfullscreen></iframe>
          
        <% } %>
      </div>
      <% }) %>
  </div>
</div>

<div id="addExerciseModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span id="centralize-text" class="close" onclick="closeAddExerciseModal()">&times;</span>
    <h2 id="centralize-text">Adicionar Exercício</h2>
    <form id="addExerciseForm" action="/exercises/add" method="POST">
      <label for="exercise_name">Nome do Exercício:</label>
      <input type="text" id="exercise_name" name="exercise_name" required><br>
      <label for="muscle_group">Grupo Muscular:</label>
      <input type="text" id="muscle_group" name="muscle_group" required><br>
      <label for="description">Descrição:</label>
      <textarea id="description" name="description"></textarea><br>
      <label for="image_url">URL da Imagem:</label>
      <input type="text" id="image_url" name="image_url"><br>
      <label for="video_url">URL do Vídeo:</label>
      <input type="text" id="video_url" name="video_url"><br>
      <button class="addNewExercise-btn-form" type="submit">Adicionar Exercício</button>
    </form>
  </div>
</div>

<!-- Modal para Editar Exercício -->
<div id="editExerciseModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span id="centralize-text" class="close" onclick="closeEditExerciseModal()">&times;</span>
    <h2>Editar Exercício</h2>
    <form id="editExerciseForm" action="/exercises/edit" method="POST">
      <input type="hidden" id="edit_exercise_id" name="exercise_id">
      <label for="edit_exercise_name">Nome do Exercício:</label>
      <input type="text" id="edit_exercise_name" name="exercise_name" required><br>
      <label for="edit_muscle_group">Grupo Muscular:</label>
      <input type="text" id="edit_muscle_group" name="muscle_group" required><br>
      <label for="edit_description">Descrição:</label>
      <textarea id="edit_description" name="description"></textarea><br>
      <label for="edit_image_url">URL da Imagem:</label>
      <input type="text" id="edit_image_url" name="image_url"><br>
      <label for="edit_video_url">URL do Vídeo:</label>
      <input type="text" id="edit_video_url" name="video_url"><br>
      <button type="submit">Salvar Alterações</button>
    </form>
  </div>
</div>

<!-- Modal para Confirmar Exclusão -->
<div id="deleteExerciseModal" class="modal" style="display: none;">
  <div class="modal-content-delete">
    <span class="close" onclick="closeDeleteExerciseModal()">&times;</span>
    <h3>Excluir Exercício</h3>
    <span><i class="fa-regular fa-4x fa-circle-question"></i></span>
    <p id="deleteExerciseMessage"></p>
    <form id="deleteExerciseForm" action="/exercises/delete" method="POST">
      <input type="hidden" id="delete_exercise_id" name="exercise_id">
      <button type="submit">Excluir</button>
    </form>
  </div>
</div>
<div id="overlay" class="overlay" style="display: none;" onclick="closeDeleteExerciseModal()"></div>

<%- include("./partials/footer.ejs"); -%>

<script>
  function openAddExerciseModal() {
    document.getElementById('addExerciseModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
  }

  function closeAddExerciseModal() {
    document.getElementById('addExerciseModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }

  function openEditExerciseModal(id, name, muscle_group, description, image_url, video_url) {
    document.getElementById('edit_exercise_id').value = id;
    document.getElementById('edit_exercise_name').value = unescape(name);
    document.getElementById('edit_muscle_group').value = unescape(muscle_group);
    document.getElementById('edit_description').value = unescape(description);
    document.getElementById('edit_image_url').value = unescape(image_url);
    document.getElementById('edit_video_url').value = unescape(video_url);
    document.getElementById('editExerciseModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
  }

  function closeEditExerciseModal() {
    document.getElementById('editExerciseModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }

  function openDeleteExerciseModal(id, name) {
    document.getElementById('delete_exercise_id').value = id;
    document.getElementById('deleteExerciseMessage').innerText = `Tem certeza que deseja excluir o exercício "${unescape(name)}"?`;
    document.getElementById('deleteExerciseModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
  }

  function closeDeleteExerciseModal() {
    document.getElementById('deleteExerciseModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }
</script>
