<%- include("./partials/header.ejs"); -%>

<link rel="stylesheet" href="css/myRoutine.css">

<div class="main-container">
  <h2 id="centralize-text">Minha Rotina de Treino</h2>

  <% if (userLoggedIn) { %>
    <% if (Object.keys(groupedExercises).length === 0) { %>
      <p>Você não tem nenhum exercício na sua rotina. Adicione um novo exercício abaixo:</p>
      <button class="addNewExercise-btn" onclick="openSelectExerciseModal()">Adicionar Novo Exercício</button>
    <% } else { %>
      <% Object.keys(groupedExercises).forEach(day => { %>
        <div class="exercise-item" >
          <h3 id="align-button"><%= day %><button class="addNewExercise" onclick="openSelectExerciseModal('<%= day %>')">+</button></h3>
          <ul>
            <% groupedExercises[day].forEach(exercise => { %>
              <p class="margin-teste"></p>
              <li id="list-style">
                <span id="centralize-text" class="text_to_upper"><strong><%= exercise.name %></strong> - <%= exercise.muscle_group %></span>
                <span>
                  <button class="edit-icon" onclick="editExercise('<%= exercise.id %>')"><i class="fas fa-pencil-alt"></i></button>
                  <button class="delete-icon" onclick="openDeleteExerciseModal('<%= exercise.id %>', '<%= exercise.name %>')"><i class="fa-regular fa-trash-can"></i></button>
                </span>
                <br>
                <br>
                <p class="text_justify">Descrição: <span id="description_<%= exercise.id %>"><%= exercise.description %></span></p>
                <% if (exercise.image_url) { %>
                  <img id="centralize-text" src="<%= exercise.image_url %>" alt="Imagem do exercício" style="width: 100%; max-width: 300px; height: auto;"/>
                <% } %>
                <% if (exercise.video_url) { %>
                  <% let videoUrl = exercise.video_url; %>
                  <% if (videoUrl.includes('youtube.com/watch')) { %>
                    <% videoUrl = videoUrl.replace('watch?v=', 'embed/'); %>
                  <% } %>
                  <iframe width="560" height="315" src="<%= videoUrl %>" frameborder="0" allowfullscreen></iframe>
                <% } %>
                <br>
              </li>
            <% }); %>
          </ul>
        </div>
      <% }); %>
    <% } %>
  <% } else { %>
    <p>Você precisa fazer login para acessar sua rotina de treino.</p>
    <a href="/login">Fazer Login</a>
  <% } %>
</div>

<div id="selectExerciseModal" class="modal" style="display: none;">
  <div class="modal-content-select">
    <span id="centralize-text" class="close" onclick="closeSelectExerciseModal()">&times;</span>
    <h2>Selecionar Exercício</h2>
    <form id="selectExerciseForm" action="/myRoutine/addSelectedExercise" method="post">
      <label for="selectDayInput">Dia:</label>
      <select id="selectDayInput" name="day" required>
        <option value="Segunda-feira">Segunda-feira</option>
        <option value="Terça-feira">Terça-feira</option>
        <option value="Quarta-feira">Quarta-feira</option>
        <option value="Quinta-feira">Quinta-feira</option>
        <option value="Sexta-feira">Sexta-feira</option>
        <option value="Sábado">Sábado</option>
        <option value="Domingo">Domingo</option>
      </select><br>
      <label for="type">Tipo:</label>
      <select id="type" name="type" required onchange="updateExerciseOptions()">
        <option value="exercise">Exercício</option>
        <option value="stretch">Alongamento</option>
      </select><br>
      <label for="exerciseId">Escolha um exercício:</label>
      <select id="exerciseId" name="exerciseId" required>
        <% exercises.forEach(exercise => { %>
          <option value="<%= exercise.id %>" data-type="exercise"><%= exercise.exercise_name %> - <%= exercise.muscle_group %></option>
        <% }); %>
        <% stretches.forEach(stretch => { %>
          <option value="<%= stretch.id %>" data-type="stretch"><%= stretch.exercise_name %> - <%= stretch.muscle_group %></option>
        <% }); %>
      </select><br>
      <button class="addNewExercise-btn-form" type="submit">Adicionar Exercício Selecionado</button>
    </form>
  </div>
</div>

<div id="deleteExerciseModal" class="modal" style="display: none;">
  <div class="modal-content-delete">
    <span id="centralize-text" class="close" onclick="closeDeleteExerciseModal()">&times;</span>
    <h3>Excluir Exercício</h3>
    <span><i class="fa-regular fa-4x fa-circle-question"></i></span>
    <p id="deleteExerciseMessage"></p>
    <form id="deleteExerciseForm" action="/myRoutine/deleteExercise" method="POST">
      <input type="hidden" id="delete_exercise_id" name="exerciseId">
      <button class="addNewExercise-btn-form" type="submit">Excluir</button>
    </form>
  </div>
</div>
<div id="overlay" class="overlay" style="display: none;" onclick="closeDeleteExerciseModal()"></div>

<%- include("./partials/footer.ejs"); -%>

<script>
  function openSelectExerciseModal(day) {
    document.getElementById('selectDayInput').value = day || '';
    document.getElementById('selectExerciseModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
    updateExerciseOptions();
  }

  function closeSelectExerciseModal() {
    document.getElementById('selectExerciseModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }

  function updateExerciseOptions() {
    const type = document.getElementById('type').value;
    const exerciseOptions = document.getElementById('exerciseId').options;
    for (let i = 0; i < exerciseOptions.length; i++) {
      exerciseOptions[i].style.display = exerciseOptions[i].getAttribute('data-type') === type ? 'block' : 'none';
    }
  }

  function editExercise(exerciseId) {
    var descriptionField = document.getElementById('description_' + exerciseId);
    var exerciseDescription = descriptionField.innerText;
    var inputField = document.createElement('textarea');
    inputField.setAttribute('rows', '4');
    inputField.setAttribute('cols', '50');
    inputField.textContent = exerciseDescription;
    descriptionField.innerHTML = '';
    descriptionField.appendChild(inputField);

    var saveButton = document.createElement('button');
    saveButton.textContent = 'Salvar';
    saveButton.onclick = function() {
        saveExerciseChanges(exerciseId);
    };
    descriptionField.appendChild(saveButton);

    var editIcons = descriptionField.querySelectorAll('.edit-icon');
    editIcons.forEach(function(icon) {
        icon.style.display = 'none';
    });
  }

  function saveExerciseChanges(exerciseId) {
    var newDescription = document.getElementById('description_' + exerciseId).querySelector('textarea').value;

    var descriptionField = document.getElementById('description_' + exerciseId);
    descriptionField.innerHTML = newDescription;

    var saveButton = descriptionField.querySelector('button');
    saveButton.style.display = 'none';

    var editIcons = descriptionField.querySelectorAll('.edit-icon');
    editIcons.forEach(function(icon) {
        icon.style.display = 'inline-block';
    });
  }

  function openDeleteExerciseModal(exerciseId, name) {
    document.getElementById('delete_exercise_id').value = exerciseId;
    document.getElementById('deleteExerciseMessage').innerText = `Tem certeza que deseja excluir o exercício "${name}"?`;
    document.getElementById('deleteExerciseModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
  }

  function closeDeleteExerciseModal() {
    document.getElementById('deleteExerciseModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }
</script>
