<%- include("./partials/header.ejs"); -%>

<link rel="stylesheet" href="css/myRoutine.css">

<div class="main-container">
  <h2 id="centralize-text">Minha Rotina de Treino</h2>

  <% if (userLoggedIn) { %>
    <% if (Object.keys(groupedExercises).length === 0) { %>
      <p>Você não tem nenhum exercício na sua rotina. Adicione um novo exercício abaixo:</p>
      <form id="newExerciseForm" action="/myRoutine/addExercise" method="post">
        <label for="day">Dia:</label>
        <input type="text" id="day" name="day" required><br>
        <label for="name">Nome do Exercício:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="muscleGroup">Grupo Muscular:</label>
        <input type="text" id="muscleGroup" name="muscleGroup" required><br>
        <label for="description">Descrição:</label>
        <textarea id="description" name="description"></textarea><br>
        <label for="imageUrl">URL da Imagem:</label>
        <input type="text" id="imageUrl" name="imageUrl"><br>
        <label for="videoUrl">URL do Vídeo:</label>
        <input type="text" id="videoUrl" name="videoUrl"><br>
        <button type="submit">Adicionar Exercício</button>
      </form>
    <% } else { %>
      <% Object.keys(groupedExercises).forEach(day => { %>
        <div class="workout-routine">
          <h3 id="align-button"><%= day %><button class="addNewExercise" onclick="openAddExerciseModal('<%= day %>')">+</button></h3>
          <ul>
            <% groupedExercises[day].forEach(exercise => { %>
              <li>
                <span><strong><%= exercise.name %></strong> - <%= exercise.muscle_group %></span>
                <span>
                  <span class="edit-icon" onclick="editExercise('<%= exercise.id %>')"><i class="fas fa-pencil-alt"></i></span>
                  <span class="delete-icon" onclick="deleteExercise('<%= exercise.id %>')"><i class="fa-regular fa-trash-can"></i></span>
                </span>
                <br>
                <br>
                Descrição: <span id="description_<%= exercise.id %>"><%= exercise.description %></span><br>
                <% if (exercise.image_url) { %>
                  <img src="<%= exercise.image_url %>" alt="Imagem do exercício">
                <% } else if (exercise.video_url) { %>
                  <iframe width="560" height="315" src="<%= exercise.video_url %>" frameborder="0" allowfullscreen></iframe>
                <% } %>
                <br>
              </li>
            <% }); %>
          </ul>
        </div>
      <% }); %>
    <% } %>
  <% } else { %>
    <p>Você precisa fazer login para acessar sua rotina de treino.</p>
    <a href="/login">Fazer Login</a>
  <% } %>
</div>

<div id="addExerciseModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" onclick="closeAddExerciseModal()">&times;</span>
    <h2>Adicionar Novo Exercício</h2>
    <form id="addExerciseForm" action="/myRoutine/addExercise" method="post">
      <input type="hidden" id="dayInput" name="day">
      <label for="name">Nome do Exercício:</label>
      <input type="text" id="name" name="name" required><br>
      <label for="muscleGroup">Grupo Muscular:</label>
      <input type="text" id="muscleGroup" name="muscleGroup" required><br>
      <label for="description">Descrição:</label>
      <textarea id="description" name="description"></textarea><br>
      <label for="imageUrl">URL da Imagem:</label>
      <input type="text" id="imageUrl" name="imageUrl"><br>
      <label for="videoUrl">URL do Vídeo:</label>
      <input type="text" id="videoUrl" name="videoUrl"><br>
      <button type="submit">Adicionar Exercício</button>
    </form>
  </div>
</div>

<div id="confirmationModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" onclick="closeConfirmationModal()">&times;</span>
    <p>Você tem certeza que deseja deletar este exercício?</p>
    <button id="confirmBtn">Confirmar</button>
    <button id="cancelBtn">Cancelar</button>
  </div>
</div>
<div id="overlay" class="overlay" style="display: none;" onclick="closeConfirmationModal()"></div>

<%- include("./partials/footer.ejs"); -%>

<script>
  function openAddExerciseModal(day) {
    document.getElementById('dayInput').value = day;
    document.getElementById('addExerciseModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
  }

  function closeAddExerciseModal() {
    document.getElementById('addExerciseModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }

  function editExercise(exerciseId) {
    var descriptionField = document.getElementById('description_' + exerciseId);
    var exerciseDescription = descriptionField.innerText;
    var inputField = document.createElement('textarea');
    inputField.setAttribute('rows', '4');
    inputField.setAttribute('cols', '50');
    inputField.textContent = exerciseDescription;
    descriptionField.innerHTML = '';
    descriptionField.appendChild(inputField);

    var saveButton = document.createElement('button');
    saveButton.textContent = 'Salvar';
    saveButton.onclick = function() {
        saveExerciseChanges(exerciseId);
    };
    descriptionField.appendChild(saveButton);

    var editIcons = descriptionField.querySelectorAll('.edit-icon');
    editIcons.forEach(function(icon) {
        icon.style.display = 'none';
    });
  }

  function saveExerciseChanges(exerciseId) {
    var newDescription = document.getElementById('description_' + exerciseId).querySelector('textarea').value;

    var descriptionField = document.getElementById('description_' + exerciseId);
    descriptionField.innerHTML = newDescription;

    var saveButton = descriptionField.querySelector('button');
    saveButton.style.display = 'none';

    var editIcons = descriptionField.querySelectorAll('.edit-icon');
    editIcons.forEach(function(icon) {
        icon.style.display = 'inline-block';
    });
  }

  function deleteExercise(exerciseId) {
    var confirmationModal = document.getElementById("confirmationModal");
    var overlay = document.getElementById("overlay");
    
    confirmationModal.style.display = "block";
    overlay.style.display = "block";
    
    var confirmBtn = document.getElementById("confirmBtn");
    var cancelBtn = document.getElementById("cancelBtn");
    
    confirmBtn.onclick = function() {
      var form = document.createElement('form');
      form.method = 'POST';
      form.action = '/myRoutine/deleteExercise';

      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'exerciseId';
      input.value = exerciseId;

      form.appendChild(input);
      document.body.appendChild(form);

      form.submit();
    };
    
    cancelBtn.onclick = function() {
      confirmationModal.style.display = "none";
      overlay.style.display = "none";
    };
  }

  function closeConfirmationModal() {
    document.getElementById('confirmationModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }
</script>
